.button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}
